.item-wrapper{
	width: 100%;
	// max-width: 500px;
	
	h2, p{
		margin: 0;
		color: $dark-blue;
		font-family: $f-medium;
		font-size: ms(0);
	}
	h2{
		font-size: ms(1);
	}
	p{
		font-size: ms(0);
	}
	p.item-home{
		color: $blue;
	}
	p.item-description{
		margin-top: 16px;
	}
	.item-inner-wrapper{
		width: 100%;
		background-color: rgba(255,255,255,0.8);
		padding: 9px;
		overflow: hidden;
		box-shadow: 0 14px 32px 8px rgba(52, 73, 94,.19);

		img{
			width: 40%;
			max-width: 155px;
			display: block;
			float: left;
		}

		.info-wrapper{
			display: block;
			float: left;
			overflow: hidden;
			width: 60%;
			padding-left: 9px;
		}
	}
	.item-actions-wrapper{
		width: 80%;
		height: $button-height;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: center;
		button{
			margin: 0 0 0 4px;
		}
	}

	@media screen and (min-width: 425px){
		.item-actions-wrapper{
			width: 100%;
			height: $button-height;
			flex-flow: row wrap;
			justify-content: flex-end;
			align-content: flex-end;
			margin-top: -39px;
		}
	}
}


