.search-sort-wrapper{
	$input-height: 40px;
	margin: 0 0 36px 0;
	.search-wrap,
	.sort-wrapper{
		@extend .centered-containing-block;
		width: 300px;
	}

	.search-wrap{
		input{
			background-color: #BEE7E7;
			outline: none;
			border: none;
			height: $input-height;
			padding: 0 7px;
			width: 260px;
			color: $dark-blue;
		}
		.search-button{
			outline: none;
			border: none;
			height: $input-height;
			margin: 0 0 0 -1.33%;
			width: $input-height;
			background-color: $turquoise;
			background-position: center;
			text-indent: -9999px;
		}
	}

	.sort-wrapper{
		margin-top: 21px;
		text-align: center;
		ul {
			width: 100%;
			margin: 0;
			padding: 0;
			li{
				text-align: center;
				padding: 0 10px;
				display: inline-block;
				width: 50%;
				&:first-child{
					border-right: 1px solid $dark-grey;
				}
				button{
					border: none;
					outline: none;
					background: none;
					color: $blue;
				}
				button.active{
					text-decoration: underline;
				}
			}
		}
	}
}