@font-face {
	font-family: 'f-bold';
	src: url('../../fonts/ParaType - Futura PT Bold.eot');
	src: url('../../fonts/ParaType - Futura PT Bold.woff') format('woff'), url('../../fonts/ParaType - Futura PT Bold.ttf') format('truetype'), url('../../fonts/ParaType - Futura PT Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'f-book';
	src: url('../../fonts/ParaType - Futura PT Book.eot');
	src: url('../../fonts/ParaType - Futura PT Book.woff') format('woff'), url('../../fonts/ParaType - Futura PT Book.ttf') format('truetype'), url('../../fonts/ParaType - Futura PT Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'f-medium';
	src: url('../../fonts/ParaType - Futura PT Medium.eot');
	src: url('../../fonts/ParaType - Futura PT Medium.woff') format('woff'), url('../../fonts/ParaType - Futura PT Medium.ttf') format('truetype'), url('../../fonts/ParaType - Futura PT Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$font-stack: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$f-book: 'f-book', $font-stack;
$f-medium: 'f-medium', $font-stack;
$f-bold: 'f-bold', $font-stack;