// Vendor
@import	
	"vendors/modular-scale/modular-scale",
	"vendors/flexboxgrid"
;
$ms-ratio: $fourth;
$button-height: 30px;

// Boilerplates
@import
	"normalize",
	"fonts",
	"theme",
	"helpers",
	"layout",
	"icons"
;
// Components
@import
	"components/hero",
	"components/search",
	"components/header",
	"components/featured-product",
	"components/item",
	"components/action-buttons",
	"components/footer",
	"components/profile"
;
body{
	font-family: $f-book;
	font-size: 100%;
	min-width: 320px;
}
@import 
	"vendors/flexboxgrid"
;